@page
@model Platibus.Web.Pages.Calendar.Calendar_IndexModel

@{
    ViewData["Title"] = "Calendar_Index";
}

<h2>Calendar_Index</h2>

<form method="post">
    <input type="submit" class="btn btn-light" value="Get Users"> 
</form>


   
    

        <table class="table table-bordered">
            <thead>
            
            
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
            </thead>
            
            <tbody>
            @if (Model._Users.Count() > 0)
            {
                foreach (var user in Model._Users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td><a href="#">Delete User</a></td>
                    </tr>
                }
            }
            </tbody>
        </table>

        

    