@page
@using Newtonsoft.Json.Serialization
@model Platibus.Web.Pages.Booking.Booking_EditShiftModel

@{ 
    ViewData["Title"] = "User Index";
}



<div class="row">
    <div class="col-md-4 center-div">
        <form method="post">
            <div class="form-group">
                <label asp-for="shift.ShiftStart" class="control-label"></label>
                <input asp-for="shift.ShiftStart" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="shift.ShiftEnd" class="control-label"></label>
                <input asp-for="shift.ShiftEnd" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Add a employee to the shift</label> <br></br>
                @Html.DropDownListFor(model => model.user.Id, Model.UserList, "Empty Shift")
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="shift.id"/>
                <button type="submit" asp-page-handler="UpdateShiftWithUser" class="far fa-check-square fa-4x"></button>
            </div>
        </form>
    </div>
</div>