@page
@model Platibus.Web.Pages.Account.AccessDenied
@{
    ViewData["Title"] = "Access denied!";
}
<img src="https://media.giphy.com/media/NlHyRNf9GyIf6mRmBg/giphy.gif"></img>

<h2>Access Denied!</h2>