#calendar
{
    width: 10%;
    height: 5%;
    background-color: #1c7430;
    color: #ffffff;
    border-radius: 5%;
    box-shadow: 0 4px 4px 0px rgba(50, 50 , 50, 0.4);
}

#calendar>p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1.5% 0;
    margin: 1%;
    color: #ffffff;
    text-align: center;
}

#calendar-day{
    font-size: 150%;
}

#calendar-date {
    font-size: 450%;
    padding-top: 1%;
    padding-bottom: 0;
}

#calendar-month-year{
    font-size: 125%;
    
}

#calendar-container{
    padding: 10px;
    width: 50%;
    height: 50%;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(#202326 , #1c7430);
    text-align: center;
    
}

#calendar-container>div{
    margin-bottom: 2%;
    
}

#calendar-month2{
    margin: 2%;
    padding-left: 2%;
    font-size: 30px;
    color: #ffffff;
    
}
#calendar-year2{
    padding-right: 2%;
    font-size: 30px;
    color: #ffffff;

}

#calendar-dates>table{
    margin-left: auto;
    margin-right: auto;
}

#calendar-dates>table>tr>td{
    padding: 15px;
    color: #ffffff;
    font-size: 25px;
   
    
}


#previous_button{
    font-size: 1px;
    color: #000000;
    text-align: center;
    width: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}


