
<div class="login-box">
    
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/"><b>Plati</b>Bus</a>
        </div>
        <p class="login-box-msg">Welcome to the Site's Portal</p>
        
        
        <a href="/home">
            <div class="btn btn-primary btn-block btn-flat">Sign In</div>
        </a>
        
        
    </div>
    <!-- /.login-box-body -->
</div>