@page
@model Platibus.Web.Pages.LoginLogout.LoginLogout_IndexModel
@{
    ViewData["Title"] = "LoginLogout_Index";
}

<h2>LoginLogout_Index</h2>


<form method="post">
    <input type="submit"/>
</form>
