@page
@model Platibus.Web.Pages.Analytics.Analytics_IndexModel
@{
    ViewData["Title"] = "Analytics_Index";
}

<h2>Analytics Index </h2>

<div></div>
<div class="form-group center-div" style="text-align: center">
    <a asp-page="./Analytics_UserList">
        <div class="glyphicon glyphicon-edit fa-5x" aria-hidden="true"></div>
    </a>
</div>


<div class="form-group center-div" style="text-align: center">
    <a asp-page="./Analytics_GenInfo">
        <div class="glyphicon glyphicon-modal-window fa-5x" aria-hidden="true"></div>
    </a>
</div>
