@page
@model Platibus.Web.Pages.Analytics.Analytics_IndexModel
@{
    ViewData["Title"] = "Analytics_Index";
}

<h2>Analytics Index </h2>

    <p style="text-align: center">Inspect a visual representation of the paid salary of employees within the organization.</p>
    <p style="text-align: center"> The data is based on paid salaries within the preceding month (from current date). </p>


<div></div>
<div class="form-group center-div" style="text-align: center">
    <a asp-page="./Analytics_Month">
        <div class="glyphicon glyphicon-stats fa-5x" aria-hidden="true"><p>Month</p></div>
    </a>
</div>

    <p style="text-align: center">Inspect a visual representation of the paid salary of employees within the organization.</p>
    <p style="text-align: center">The data is based on paid salaries within the preceding year (from current date). </p>


<div class="form-group center-div" style="text-align: center">
    <a asp-page="./Analytics_GenInfo">
        <div class="glyphicon glyphicon-stats fa-5x" aria-hidden="true"><p>Year</p></div>
    </a>
</div>

<p style="text-align: center">Inspect a visual representation of the paid salary of employees within the organization.</p>
<p style="text-align: center">The data is based on paid salaries as well as any projected future salaries, for all employees within the organization. </p>


<div class="form-group center-div" style="text-align: center">
    <a asp-page="./Analytics_Projected">
        <div class="glyphicon glyphicon-stats fa-5x" aria-hidden="true"><p>Total</p></div>
    </a>
</div>


<p style="text-align: center">Inspect a visual representation of the total expenditures regarding employee salaries, in the preceding years.</p>


<div class="form-group center-div" style="text-align: center">
    <a asp-page="./Analytics_OrgData">
        <div class="glyphicon glyphicon-random fa-5x" aria-hidden="true"><p>OrgData</p></div> 
    </a>
</div>
