@page
@model Platibus.Web.Pages.Administrative.Administrative_IndexModel
@{
    ViewData["Title"] = "Administrative_Index";
}

<h2>Administrative</h2>
<hr />

    <a asp-page="./Administrative_CreateUser">
        <div class="glyphicon glyphicon-user fa-5x" aria-hidden="true"></div>
        <div>Create User</div>
    </a>

<hr />

<div>
<form method="post">
    <input type="submit" class="btn btn-light" asp-page-handler="GetUsers" value="Get Users">
</form>
</div>
<div>
    <partial name="Partial_ListUsers" model="Model._Users" />
</div>
