@page "{Id}"
@model Platibus.Web.Pages.Administrative.Administrative_EditSingleUserModel

@{ 
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>

<hr/>
<div class="row">
    <div class="col-md-4 center-div">
        <form method="post">
            <div class="form-group">
                <label asp-for="user.Name" class="control-label"></label>
                <input asp-for="user.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="user.Email" class="control-label"></label>
                <input type="email" asp-for="user.Email" class="form-control" />
            </div>
            <div class="form-group">
                <select asp-for="user.AccessLevel" asp-items="Model.Items">
                    <option value="">Permission Level / Organizational Role</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="user.Password" class="control-label">New Password</label>
                <input type="password" asp-for="user.Password" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" asp-page-handler="UpdateUser" value="Update User" />
            </div>
        </form>
    </div>
</div>