@page
@model Platibus.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<body>
    <center>
        <p><b><font size="5">Register User</font></b></p>
        <form method="post">

            <p>Name:</p> <input name="user_name">
            <p>Email: </p>
            <input type="email" name="user_emailaddress">
            <p>Password: </p>
            <input type="password" name="user_password">
            <p></p>
            <input type="submit">
        </form>

        <hr />
        <p><b><font size="5">Register Organization</font></b></p>

        <form method="post">
            <p>Organization Name:</p> <input name="org_name">
            <p>Email: </p>
            <input type="email" name="org_emailaddress">
            <p>Password: </p>
            <input type="password" name="org_password">
            <p></p>
            <input type="submit">
        </form>

    </center>
</body>